.wrapperdiv {
    padding-top: 50px; 
}

.formcontainer {
    width: 70%;
    margin: 0 auto;
}

.img-thumbnail {
    width: 140px;

}

.w-5 {
    width : 60%; 
    /* align-self:baseline; */
    display:list-item;
    margin: 5 auto;
}



/* .img {
    width: 5px;
    margin: auto;
} */